extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Headline 2
  h3 Headline 3
  h4 Headline 4
  h1 Jade - node template engine

  .container.foo
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maiores,
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quaerat error autem voluptas accusantium nesciunt ab, modi ducimus
      expedita, suscipit excepturi! Libero ex fuga magni ratione qui perferendis laudantium, voluptatum.
